body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:url(http://www.publicdomainpictures.net/pictures/200000/velka/american-flag-background-1477488261IIY.jpg) top right no-repeat;
  background-attachment:fixed;
}

a {
  color: #00B7FF;
}

h3 {
  margin-bottom: 10px;
}

.delete {
  margin-bottom: 5px;
}

.he {
  background-color: rgba(153, 179, 255, 0.8);
  border: 2px ridge black;
  width: 430px;
}

.cand {
  background-color: rgba(153, 179, 255, 0.8);
  border: 2px ridge black;
  width: 430px;
  padding: 5px;
  margin-top: 8px;
}



.com {
  background-color: white;
  border: 1px solid black;
  width: 400px;
  padding: 3px;
  margin: 3px;
  margin-top: 8px;
}